body{
  margin-top: 5rem;
}
.navbar{
  border:0;
}
.navbar-brand{
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
}
#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}
#showcase img, #info1 img{
  width: 90%;
}
.showcase-btn{
  margin-top:1rem;
}
#testimonial{
  background: #f1f1f1;
  padding:3rem 0 2rem 0;
  text-align: center;
  margin-top: 2.5rem;
}
#testimonial p{
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color:#000;
}
#testimonial p.customer{
  color:#667;
  font-size:1.3rem;
}

.info-left img{
  margin-top:2rem;
}

#info1{
  border-bottom: 1px solid gray;
}

#info1 .info-right{
  margin-top: 5rem;
}
#info2{
  margin:2rem 0;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}
#contact{
  background:url(../images/img5.jpg);
  background-size: cover;
  background-position: center;
}
#contact h2{
  text-align: center;
  margin:1rem;
}
.contact-form{
  margin: 0 auto;
  width:40%;
  background-color:#f4f4f4;
  border-radius:10px;
  opacity: .8;
  padding:1rem;
}
footer{
  margin:2rem 0;
}
